{% extends 'base.html' %}
{% block content %}
    <section class="bg-primary hero is-primary">
        <div class="hero-body">
            <div class="container text-center">
                <h1 class="title mt-5">
                    NOAK Weather Dashboard
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container is-fluid text-center">
            <form action="/" method="POST">
                <div class="field has-addons">
                    <div class="row">
                        <div class="col mt-4">
                            <label for="city " class="fs-4 is-size-5
                                col-form-label col-form-label-lg">City</label>
                        </div>
                        <div class="col mt-4">
                            <label for="state" class="fs-4 is-size-5
                                col-form-label col-form-label-lg">State</label>
                        </div>
                        <div class="col mt-4">
                            <label for="country" class="fs-4 is-size-5
                                col-form-label col-form-label-lg">Country</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label for="cityName"></label><input type="text" id="cityName" name="cityName" value=""
                                                                 required
                                                                 placeholder="Enter City Name" class="form-control">
                        </div>
                        <div class="col-sm">
                            <label for="stateName"></label><input type="text" id="stateName" name="stateName" value=""
                                                                  placeholder="Enter State Name (Only for US/Canada)"
                                                                  class="form-control">
                        </div>
                        <div class="col-sm">
                            <label for="countryName"></label><input type="text" id="countryName" name="countryName"
                                                                    value=""
                                                                    required placeholder="Enter Country Name"
                                                                    class="form-control">
                        </div>
                    </div>
                    <br>
                    <button class="submit btn btn-light">
                        Get Weather
                    </button>
                </div>
            </form>
        </div>
    </section>
    <section class="section">
        {% if current_weather_data.code == 200 %}
            <div class="container-fluid mt-5">
            <div class="row">
                <div class="offset-md-3">
                    <div class="card bg-secondary-subtle"
                         style="max-width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Current Weather</h5>
                            <br> City/Country: {{ location_data.city }}, {{ location_data.country }} <br>
                            <br> {{ current_weather_data.cloud_main }}: {{ current_weather_data.cloud_description }}
                            <br>
                            <img src="https://openweathermap.org/img/wn/{{ current_weather_data.cloud_icon }}@2x.png"
                                 alt="Icon">
                            <br>
                            Temperature: {{ current_weather_data.temperature }} {{ formats_data.temperature_format }}
                            <br>
                            Feels
                            Like: {{ current_weather_data.feels_like }} {{ formats_data.temperature_format }}
                            <br>
                            Minimum
                            Temperature: {{ current_weather_data.minimum }} {{ formats_data.temperature_format }}
                            <br>
                            Maximum
                            Temperature: {{ current_weather_data.maximum }} {{ formats_data.temperature_format }}
                            <br>
                            Pressure: {{ current_weather_data.pressure }} {{ formats_data.pressure_format }}
                            <br>
                            Ground Pressure
                            : {{ current_weather_data.pressure_ground_level }} {{ formats_data.pressure_format }}
                            <br>
                            Humidity: {{ current_weather_data.humidity }}{{ formats_data.humidity_format }}
                            <br>
                            Visibility: {{ current_weather_data.visibility }} {{ formats_data.visibility_format }}
                            <br>
                            Wind
                            Speed: {{ current_weather_data.wind_speed }} {{ formats_data.wind_speed_format }}
                            <br>
                            Wind
                            Direction: {{ current_weather_data.wind_direction }} {{ formats_data.wind_direction_format }}
                            <br>
                            {% if current_weather_data.wind_gust != -999999.0 %}
                                Wind Gust: {{ current_weather_data.wind_gust }}
                                {{ formats_data.wind_speed_format }}
                                <br>
                            {% endif %}
                            Sunrise: {{ current_weather_data.sunrise }} <br>
                            Sunset: {{ current_weather_data.sunset }} <br>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
